<!DOCTYPE html>
<html>
<head>
    <title>监控系统</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page-background"></div>
    <div class="container">
        <div class="logout-container">
            <a href="{{ url_for('logout') }}"><button class="logout-btn">登出</button></a>
        </div>
        <h1>监控系统</h1>
        <div class="block">
            <h2>Mom's Casino Records</h2>
            <div class="button-group">
                <a href="{{ url_for('casino') }}"><button>进入记录</button></a>
            </div>
        </div>
        
        <div class="block">
            <h2>Electricity Records</h2>
            <div class="button-group">
                <a href="{{ url_for('meter') }}"><button>进入记录</button></a>
            </div>
        </div>
    </div>
</body>
</html> 